@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
  }

@font-face {
font-family: "Jost";
src: url("../fonts/jost/static/Jost-Regular.ttf");
}

@font-face {
font-family: "Jost-Bold";
src: url("../fonts/jost/static/Jost-Bold.ttf");
}

:root {
    --left-padding: 40px;
    --header-font-size: 48px;
    --header-line-height: 72px;
    --item-font-size: 31px;
    --blue-color: #0E0578;
    --item-line-height: 44.8px;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1440px;
    height: 5792px;
    margin: 0;
}

.super-container {
    display: flex;
    width: 100%;
}

.header-container {    
    justify-content: space-around;    
    font-family: "Poppins Regular", sans-serif;
    align-items: center;
    flex-grow: 1;
    height: 1em;
}

.main-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 5;
}

.footer-container {
    flex-direction: column;
    height: 809px;
    flex-grow: 1;
}

/* HEADER CONTENT */
.uni-design {
    flex-basis: 40%;
    font-size: var(--header-font-size);
    color: var(--blue-color);
    padding-left: var(--left-padding);
}

.navigation {
    display: flex;
    flex-basis: 60%;
    justify-content: space-around;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-item {
    display: block;
    font-size: 30px;
    color: #686565;    
}

/* MAIN CONTENT */
.welcome-container {
    display: flex;
    justify-content: space-around;
}

.about-me-container {
    justify-content: space-around;
    height: 910px;
}

.my-projects-container {
    flex-direction: column;
    height: 910px;
    justify-content: flex-start;
    background: #FFD69633;
}

.contact-me-container {
    flex-direction: column;
    height: 1316px;
    background: #43BAFD0F;
}

.welcome-left, .about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: var(--left-padding);
}

.welcome-left-item {
    align-self: self-start;
    width: 100%;
}

.welcome-left-greetings {    
    color: #2000E7;
    font-size: 30px;
}

.welcome-left-hi span {
    color: #F2BD00;
    font-size: var(--header-font-size);
}

.welcome-right {
    display: flex;  
    justify-content: center;
    flex-grow: 1;
}

.avatar-photo {
    background-image: url("../images/Rectangle_3avatar_2.png");
    background-repeat:no-repeat;
    width: 564px;
    height: 564px;
    box-shadow: 36px -32px 0px 0px #8775F980;
}

.simple-text {
    font-size: 24px;
    line-height: 36px;
}

.container-header {
    color: #2000E7;
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
}

.welcome-left-buttons, .hire-me-left-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.hire-me-left-buttons {
    padding-left: var(--left-padding);
}

.button {
    box-shadow: 11px 21px 15px 6px #00000040;
    width: 246px;
    height: var(--header-line-height);
    border-radius: 10px;
    font-size: 24px;
    flex-basis: 200px;
}

.hire-me-button {    
    background-color: #2000E7;
}

.my-project-button {
    color: #2000E7;
    background: linear-gradient(0deg, rgba(32, 0, 231, 0.04), rgba(32, 0, 231, 0.04));
    border: 2px solid #2000E7;    
}

.image-about-me {
    width: 925px;
    height: 925px;
}

.my-projects-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
}
 
.my-projects-gallery {
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
}

.my-projects-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.my-projects-gallery-item {
    flex-shrink: 3;
    width: 246px;
    height: 180px;
    border-radius: 2%;
}

.contact-me-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.contact-me-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: var(--left-padding);
}

.form-item {
    box-shadow: 13px 21px 4px 0px #00000040;
}

.contact-me-form input {
    width: 653px;
    height: 94px;
}

.contact-me-form input:last-of-type {
    height: 265px;
}

.contact-me-form button {
    width: 327px;
    height: 94px;
}

.contact-me-image {
    width: 958px;
    height: 958px;    
}

/* FOOTER CONTENT */
.footer-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-header-item {
    font-family: "Poppins Regular", sans-serif;
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--blue-color);
}

.email-input-container {
    display: flex;
    flex-direction: row;
    height: 97px;
    flex-wrap: nowrap;
    justify-content: center;
}

.email-input-item {
    font-family: "Jost", sans-serif;
    font-size: var(--input-font-size);
    line-height: var(--item-line-height);
    color: #FFFFFF;
    border-radius: 30px;
}

.email-footer {
    background-color: #000000;
}

.subscribe-button {
    background-color: #F965FC;
    margin-left: -50px;    
}

.column-header-item {
    font-family: "Jost-Bold", sans-serif;
    font-size: var(--input-font-size);
    line-height: var(--item-line-height);
}

.column-link-item {
    font-family: "Jost", sans-serif;
    font-size: var(--input-font-size);
    line-height: var(--item-line-height);
}

hr {
    border: 3px solid #000000;
    margin: 5em 5em;

}

.footer-bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.copyright-item {
    font-family: "Jost", sans-serif;
    font-size: 32px;
    line-height: 46.24px;
    flex-basis: 50%;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    flex-basis: 50%;
}

.icon-item {
    margin-left: 50px;
    align-self: center;
}