@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
  }

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;

    font-family: "Poppins Regular", sans-serif;
}

.uni-design {
    font-size: 48px;
    flex-grow: 1;
    color: #0E0578;
}

.navigation {
    display: flex;
    flex-grow: 1;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    display: block;
    font-size: 30px;
    color: #686565;    
}